header {background-color:black}
h1 {color: white}
#home {background-color:rgb(165, 199, 71); font-size: 16px; font-stretch: semi-condensed;}
body {background-color: rgb(71, 201, 54);}







#picme {float: left; size:560px}

